{% extends "base.html" %}

{% block content %}






<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <h1 class="text-center p-5">Product Expiry Alert Management System</h1>


</header><!-- End Header -->


<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'index' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link " href="{% url 'sale' %}">
                <i class="bi bi-bag"></i>
                <span>Sales</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'make-sale' %}">
                <i class="bi bi-bag"></i>
                <span>Make Sale</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link " href="{% url 'inventory' %}">
                <i class="bi bi-bag"></i>
                <span>Products</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link " href="{% url 'add-product' %}">
                <i class="bi bi-bag-plus"></i>
                <span>Add Products</span>
            </a>
        </li>

 


    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Product detail</h1>

    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="jumbotron">
            <div class="bg-danger rounded" style="width: 60px;">
                <span class="badge badge-danger text-white">Expired</span>
            </div>
            <h1 class="display-3">{{product.name}}</h1>
            <p class="lead">Quantity: {{product.quantity}}</p>
            <p class="lead">NGN {{product.price}}</p>


            <hr class="my-2">
            <p class="lead">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{product.id}}">
                <button class="btn btn-danger btn-lg" type="submit" href="" role="button"> <i class="fa fa-trash"
                        aria-hidden="true"></i>
                    delete</button>
            </form>

            </p>
        </div>

    </section>

</main><!-- End #main -->



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

{% endblock %}